* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    height: 510px;
    width: 410px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    border: 5px solid darkgray;
}


button {
    height: 78px;
    width: 100px;
    font-size: 30px;
} 
 
.zero {
    width: 200px;
}


/* 
.equal {
    width: 200px;   
 
} */


.screen {
    width: 100%;
    height: 100px;
    font-size: 100px;
    overflow-x: scroll;
    
   

}

.clr-button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.clr-button button {
    height: 40px;
    width: 40px;
    font-size: 10px;
}




/* create a 4 x 5 grid */ 


.dec:disabled {
    background-color: lightgray;

}